---
import PocketBase, { BaseAuthStore } from "pocketbase";

import LayoutWorkspace from "../../../app/LayoutWorkspace.astro";
import { StudioPB, loadFromCookie } from "../../../modules/studio_service";
import { studioByID, studiosByUserId } from "../../../services/services";
import { StudioModel } from "../../../services/StudioModels";
import ErrorNotFound from "../../../modules/ErrorNotFound.astro";

import { default as LnkUpApp } from "../../../../../lnkup/app-lnkup.astro";
import { SigninPage } from "@/components/studio";
import SignIn from "../../authentication/sign-in.astro";
import Dashboard from "../../dashboard.astro";
import Studio from "../../../modules/studio.astro";

// import Card from "../../../components/Card.astro";

interface Props {
  studioId: string;
  app?: string;
  appParams?: string[];
}

// console.log("studioId::", studioIDProp);

let pb: PocketBase = new PocketBase("https://api-pocketbase.fly.dev");
let isLoggedIn: boolean = false;
let studioId: string = Astro.props.studioId || Astro.params.id;
const app = Astro.props.app;
const appParams = Astro.props.appParams;

if (Astro.props.studioId) {
  // loadFromCookie(StudioPB, Astro.request.headers.get("cookie") || "");
  // console.log("cookie:", Astro.request.headers.get("cookie"));
  if (Astro.cookies.get("pb_auth")) {
    pb.authStore.save(Astro.cookies.get("pb_auth").value);
    isLoggedIn = pb.authStore.isValid;
  }

  // console.log("isLoggedIn", pb.authStore.isValid);
} else if (Astro.locals.pocketbaseUserClient) {
  pb = Astro.locals.pocketbaseUserClient;
  isLoggedIn = pb.authStore.isValid;
  // console.log(Astro.locals.pocketbaseUserClient);
} else {
}

// // const records = await pb.collection("studio_studio").getFullList({
// //   expand: "studio_apps,viewer_users,editor_users,owner",
// //   sort: "-created",
// // });

let studios: StudioModel[];

try {
  // studios = await studiosByUserId(pb.authStore.model.id, pb);
} catch (error) {}

let studio: StudioModel;
try {
  studio = await studioByID(studioId, pb);
} catch (error) {
  throw new Error(error);
}
---

{!isLoggedIn && <SignIn action="/auth/login" />}
{!studio && <ErrorNotFound />}

{
  studio && isLoggedIn && (
    <LayoutWorkspace
      isLoggedIn={isLoggedIn}
      workspaces={studios}
      studio={studio}
      user={pb.authStore.model}
    >
      <main>
        {!app && <Studio studioId={studio} />}
        {app == "lnkup" && <LnkUpApp studio={studio} params={appParams} />}
        <div class="grid gap-4 px-4  md:grid-cols-2 xl:grid-cols-4" />
      </main>
    </LayoutWorkspace>
  )
}

<!-- 
<LayoutWorkspace
  workspaces={studios}
  current={studio}
  title={studio.title}
  cover={studio.cover}
>
  <main>
    <div class="grid gap-4 px-4 mb-4 mt-4 md:grid-cols-2 xl:grid-cols-4">
      {studios.map((space) => <a href={`/studio/${space.id.toString()}`}>x</a>)}
    </div>
  </main>
</LayoutWorkspace> -->
