---
import AppLnkup from "@/apps/lnkup/app-lnkup.astro";
import LayoutWorkspace from "../../../app/LayoutWorkspace.astro";
import { studioByID, studiosByUserId } from "../../../services/services";
// import Card from "../../../components/Card.astro";

const pb = Astro.locals.pocketbaseUserClient as import("pocketbase").default;
const isLoggedIn = pb.authStore.isValid;

// const records = await pb.collection("studio_studio").getFullList({
//   expand: "studio_apps,viewer_users,editor_users,owner",
//   sort: "-created",
// });

const records = await studiosByUserId(pb.authStore.model.id, pb);

const record = await studioByID(Astro.params.id, pb);

// const record = await pb.collection("studio_studio").getOne(Astro.params.id, {
//   expand: "studio_apps,viewer_users,editor_users,owner",
// });

// console.log(record);

// const components = await Astro.glob("../../../../../../*");
---

<LayoutWorkspace workspaces={records} studio={record}>
  <main>
    <AppLnkup studio={record} />
  </main>
</LayoutWorkspace>
