---
///
// search for link info from the Param ( ID )

const id = Astro.params["id"];

// const adminData = await pb.admins.authWithPassword(
//   "cloud@dlxstudios.com",
//   "dlxCl0ud1030@"
// );

// const userData = await pb
//   .collection("users")
//   .authWithPassword("supremes23", "Ssolutions23");

// const data = {
//   title: "test",
//   name: "test",
//   redirect: "https://example.com",
//   owner: "RELATION_RECORD_ID",
//   from: "https://example.com",
// };

// const record = await pb.collection("studio_app_lnkup_links").create(data);
---

<!-- <h1>adminData.token : {adminData.token}</h1> --><!-- <h1>userData.token : {userData.token}</h1> -->
<h1>ID : {id}</h1>
