---
import LayoutStacked from "../../app/LayoutStacked.astro";
import FormSignIn from "../../modules/FormSignIn.astro";
import Pocketbase, { RecordAuthResponse } from "pocketbase";
import { StudioModel } from "../../services/StudioModels";
import LayoutWorkspace from "../../app/LayoutWorkspace.astro";
import { studioByID } from "../../services/services";
import { StudioPB, loadFromCookie } from "../../modules/studio_service";

export interface ErrorsSignin {
  email?: string;
  password?: string;
  confirm?: string;
  message?: string;
}
const errors: ErrorsSignin = { message: "", email: "", password: "" };
let _email = "";
let userData: RecordAuthResponse;

console.log("Login::request.method", Astro.request.method);
const pb = StudioPB;
let token;
let cookieName = "pb_auth";
let cookie = "";
let maxAge = 604800;
if (Astro.request.method === "POST") {
  const isClientRequest =
    Astro.request.headers.get("accept") === "application/json";

  try {
    const data = await Astro.request.formData();
    // console.log("Login::data", data);

    const email = data.get("email");
    _email = email.toString();
    const password = data.get("password");

    if (typeof email !== "string") {
      //|| !isValidEmail(email)) {
      errors.email += "Email is not valid. ";
    }
    // else if (await isRegistered(email)) {
    //   errors.email += "Email is already registered. ";
    // }
    if (typeof password !== "string" || password.length < 6) {
      errors.password += "Password must be at least 6 characters.";
    }
    const hasErrors = Object.values(errors).some((msg) => msg);
    console.log("Login::hasErrors", hasErrors, errors);

    if (!hasErrors) {
      //   console.log("user", email, password);
      // const pb = Astro.locals.pocketbaseUserClient as Pocketbase;

      // try {
      userData = await pb
        .collection("users")
        .authWithPassword(email.toString(), password.toString());
      // console.log("Login::userData", userData);
      console.log("isClientRequest::", isClientRequest);
      if (isClientRequest) {
        return Response.json({ token: userData.token });
      } else {
        // console.log(userData.token);
        
        token = userData.token;

        cookie = pb.authStore.exportToCookie();

        // Astro.response.headers.append(
        //   "set-cookie",
        //   pb.authStore.exportToCookie()
        // );
        // Astro.cookies.set("pb_auth", userData.token);
        // return Astro.redirect("/studio");
      }
      // } catch (error) {
      //   if (error instanceof Error) {
      //     errors.message = error.message;
      //     console.error(error.message);
      //   }
      // }

      //   await registerUser({ name, email, password });
    }

    // console.log("isClientRequest::", isClientRequest);

    // return Astro.redirect("/");
  } catch (error) {
    if (error instanceof Error) {
      errors.message = error.message;
      if (isClientRequest) return Response.json({ errors });
      console.error(error.message);
    }
  }
}
const { studioId , studio, redir="/studio", action} = Astro.props;
interface Props {
  studioId?:string
  studio?: StudioModel;
  redir?:string
  action?:string
}
let _studio:StudioModel = studio
if (studioId) {
  try {
    // loadFromCookie(StudioPB, Astro.request.headers.get("cookie") || "");
    _studio = await studioByID(studioId, StudioPB);
  } catch (error) {
    // throw new Error(error);
  }
}
---

{
  token && (
    <script
      define:vars={{
        token,
        redir,
        maxAge,
        cookieName,
        cookie,
      }}
      is:inline
    >
      if (token)
      {
        document.cookie = `${cookieName}=${token}; Max-Age=${maxAge}; path=/`;
        // document.cookie = cookie
        window.location.href = redir;
      }
    </script>
  )
}
<!-- {userData && <script>window.location.href = "/";</script>} -->
<LayoutWorkspace studio={_studio} isLoggedIn={false}>
  <div class="min-h-screen min-h-[100dvh] align-middle flex pb-[12vh]">
    <FormSignIn errors={errors} email={_email.toString()} action={action} />
  </div>
</LayoutWorkspace>
