---
import { AstroAssets } from "astro:assets";
import { asset, url } from "../lib/data.js";
import { type ErrorsSignin } from "../pages/authentication/sign-in.astro";

export interface FormSignInProps {
  errors: ErrorsSignin;
  email?: string;
  title?: string;
  cover?: string;
  action?: string;
}

const { errors, email, title, cover, action } = Astro.props;
---

<div
  class="w-full flex flex-col items-center justify-center px-6 pt-8 mx-auto pt:mt-0"
>
  <!-- Logo -->
  <a
    href="/"
    class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10"
  >
    {cover && <img src={cover} alt="Logo" class="mr-4 h-11" />}
    {title && <span>{title}</span>}
  </a>
  <!-- Card -->
  <dlx-card class="w-full max-w-xl p-6 space-y-8 sm:p-8 rounded-lg shadow card">
    <h2 class="text-2xl font-bold">
      Sign in
      <!-- to platform -->
    </h2>
    <form id="FormSignIn" class="mt-8 space-y-6" method="POST" action={action}>
      <div>
        <label for="email" class="block mb-2 text-sm font-medium">Email</label>
        {errors.email && <span>{errors.email}</span>}
        <input
          type="email"
          name="email"
          id="email"
          class="sm:text-sm rounded-lg block w-full p-2.5"
          placeholder="name@domain.com"
          required
          value={email}
        />
      </div>
      <div>
        <label for="password" class="block mb-2 text-sm font-medium"
          >Password</label
        >
        {errors.password && <p>{errors.password}</p>}
        <input
          type="password"
          name="password"
          id="password"
          placeholder="••••••••"
          class="sm:text-sm rounded-lg block w-full p-2.5"
          required
        />
      </div>
      <div class="flex items-start flex-wrap">
        <div class="flex items-center h-5">
          <input
            id="remember"
            aria-describedby="remember"
            name="remember"
            type="checkbox"
            class="w-4 h-4"
          />
        </div>
        <div class="ml-3 text-sm">
          <label for="remember" class="font-medium">Remember me</label>
        </div>
        <a href="#" class="ml-auto mt-4 text-left text-sm w-full"
          >Lost Password?</a
        >
      </div>
      <button
        type="submit"
        class="w-full px-5 py-3 text-base font-medium text-center rounded-lg sm:w-auto"
        >Login to your account</button
      >
      {errors.message && <p>{errors.message}</p>}

      <div class="text-sm font-medium">
        Not registered? <a href="/authentication/sign-up" class=""
          >Create account</a
        >
      </div>
    </form>
  </dlx-card>
</div>
<script>
  // document
  //   .getElementById("FormSignIn")
  //   .addEventListener("submit", async (e) => {
  //     e.preventDefault();
  //     const formElement = e.target as HTMLFormElement;
  //     const data = await fetch(formElement.action, {
  //       method: formElement.method,
  //       body: new FormData(formElement),
  //     });

  //     data.status;

  //     console.log(data.status);
  //     if (data.status == 200) {
  //       window.location.href = "/studio";
  //     }
  //   });
</script>
