---
import Code from "astro/components/Code.astro";

import Confettis from "../components/ConfettiLauncher.astro";

// import AstroLogo from "../assets/astro-icon.svg?raw";
// import FlowbiteLogo from "../assets/flowbite-logo.svg?raw";

const readMe = { Content: "text" };
import { SITE_TITLE } from "../app/constants.js";
---

<div class="">
  <header
    class="p-8 flex justify-center items-center flex-wrap flex-col w-full mt-16"
  >
    <div class="flex justify-center w-full">
      <!-- <div
        set:html={AstroLogo}
        class="svg-inline w-16 h-16 text-violet-700 dark:text-violet-100"
      /> -->
    </div>

    <div class="format dark:format-invert lg:format-lg mt-32">
      <p
        class="text-4xl lg:text-8xl dark:text-slate-200 text-slate-600 leading-tight"
      >
        Build your <a
          rel="noopener nofollow"
          href="authentication/sign-in"
          class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-yellow-300 to-zinc-700 dark:from-yellow-300 dark:to-zinc-700 no-underline"
          >Studio</a
        >
      </p>

      <div class="flex justify-center w-full"></div>
    </div>

    <div class="flex justify-center w-full my-16">
      <!-- <div set:html={FlowbiteLogo} class="svg-inline w-16 h-16" /> -->
    </div>
  </header>
</div>

<style>
  /* Override in Markdown H1 title */
  .readme :global(h1:nth-of-type(2)) {
    display: none;
  }

  .svg-inline :global(svg) {
    height: 100%;
    width: 100%;
  }
</style>
