---
import { AuthModel, RecordModel } from "pocketbase";
import FooterSidebar from "./FooterSidebar.astro";
import LayoutCommon from "./LayoutCommon.astro";

import NavBarWorkspace from "./NavBarWorkspace.astro";
import SideBarWorkspace from "./SideBarWorkspace.astro";
import { StudioModel } from "../services/StudioModels";

export interface Props {
  workspaces?: StudioModel[];
  studio?: StudioModel;
  isLoggedIn?: boolean;
  user?: AuthModel;
}

const { workspaces, studio, isLoggedIn, user } = Astro.props;
// console.log("title", title);
---

<LayoutCommon class="flex flex-col">
  {
    isLoggedIn && (
      <NavBarWorkspace
        isLoggedIn={isLoggedIn}
        user={user}
        studio={studio}
        isLoggedIn={isLoggedIn}
      />
    )
  }
  {
    isLoggedIn && (
      <SideBarWorkspace
        workspaces={workspaces}
        current={studio}
        title={studio.title}
        cover={studio.cover}
      />
    )
  }
  <div class="flex pt-16 overflow-hidden lg:fixed lg:left-64">
    <div id="main-content" class="relative w-full h-full overflow-y-auto">
      <slot />
      <!-- <FooterSidebar /> -->
    </div>
  </div>
</LayoutCommon>
