---
import FooterStacked from "./FooterStacked.astro";
import LayoutCommon from "./LayoutCommon.astro";
import NavBarStacked from "./NavBarStacked.astro";
---

<LayoutCommon>
  <NavBarStacked />

  <div class="flex pt-16 overflow-hidden">
    <div
      id="main-content"
      class="relative w-full max-w-screen-2xl mx-auto h-full overflow-y-auto min-h-screen"
    >
      <div class="px-4 pt-6 2xl:px-0">
        <slot />
      </div>

      <FooterStacked />
    </div>
  </div>
</LayoutCommon>
