---
import { Products } from "@/apps/lnkup/products";
// Get the product ID from the URL params
const { id } = Astro.params;

// Find the product with the matching ID
const product = Products.find((p) => p.id === id);

// If no product is found, display an error message
if (!product) {
  //   return <div>Product not found</div>;
  return Astro.redirect("/404");
}
---

<main>
  <h1>{product.title}</h1>
  <div class="product-container">
    <div class="product-image">
      <img src={product.coverImage} alt={product.title} />
    </div>
    <div class="product-info">
      <div class="product-description">
        <p>{product.description}</p>
      </div>
      <div class="product-price">
        {
          product.salePrice && (
            <span class="sale-price">${product.salePrice}</span>
          )
        }
        {
          product.salePrice && (
            <span class="original-price">${product.price}</span>
          )
        }
        {!product.salePrice && <span>${product.price}</span>}
      </div>
      <div class="product-variations">
        <h3>Colors</h3>
        <ul>
          {product.variations.map((color) => <li>{color}</li>)}
        </ul>
      </div>
      <div class="product-quantities">
        <h3>Quantities</h3>
        <ul>
          {
            product.quantities.map((quantity) => (
              <li>
                <span>{quantity.amount}</span>
                <span>${quantity.price}</span>
                <span>Save {quantity.discount}%</span>
              </li>
            ))
          }
        </ul>
      </div>
      <button class="add-to-cart">Add to Cart</button>
    </div>
  </div>
  <div class="quick-info">
    <div class="quick-info-item">
      <i class="icon"></i>
      <p>{product.quickInfo[0]}</p>
    </div>
    {/* Add the remaining quick info items */}
  </div>
  <div class="whats-included">
    <h2>What's Included</h2>
    <img src={product.includedImages[0]} alt={product.title} />
    {/* Add the remaining included images */}
  </div>
  <div class="how-it-works">
    <h2>How It Works</h2>
    <img src={product.howItWorksImage} alt="How It Works" />
    <ol>
      <li>
        <h3>{product.howItWorks[0].title}</h3>
        <p>{product.howItWorks[0].description}</p>
      </li>
      {/* Add the remaining how it works steps */}
    </ol>
  </div>
  <div class="faq">
    <h2>FAQ</h2>
    <div class="accordion">
      {
        product.faq.map((item) => (
          <div class="accordion-item">
            <h3 class="accordion-header">{item.question}</h3>
            <div class="accordion-content">
              <p>{item.answer}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</main>

<script>
  // JavaScript code for the accordion functionality
  const accordionHeaders = document.querySelectorAll(".accordion-header");

  accordionHeaders.forEach((header) => {
    header.addEventListener("click", () => {
      const content = header.nextElementSibling;
      content.classList.toggle("open");
    });
  });
</script>
