---
import { Products } from "@/apps/lnkup/products";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Lnkup Shop</title>
    <style>
      .product-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
      }

      @media (min-width: 768px) {
        .product-grid {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      @media (min-width: 1024px) {
        .product-grid {
          grid-template-columns: repeat(4, 1fr);
        }
      }

      .product-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: inherit;
      }

      .product-image {
        max-width: 100%;
        height: auto;
      }

      .product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .product-price {
        display: flex;
        align-items: center;
      }

      .product-price .sale-price {
        color: red;
        margin-right: 0.5rem;
      }

      .product-price .original-price {
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <h1>Lnkup Products</h1>
    <div class="product-grid">
      {
        Products.map((product) => (
          <a href={`lnkup/${product.id}`} class="product-item">
            <img
              class="product-image"
              src={product.coverImage}
              alt={product.title}
            />
            <div class="product-info">
              <h2>{product.title}</h2>
              <div class="product-price">
                {product.salePrice && (
                  <span class="sale-price">${product.salePrice}</span>
                )}
                {product.salePrice && (
                  <span class="original-price">${product.price}</span>
                )}
                {!product.salePrice && <span>${product.price}</span>}
              </div>
              <p>{product.description}</p>
            </div>
          </a>
        ))
      }
    </div>
  </body>
</html>
