<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real Estate Company</title>
    <style>
      /* Reset styles */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      /* Hero Section */
      .hero {
        position: relative;
        height: 100vh;
        overflow: hidden;
        background-image: url("https://via.placeholder.com/600/92c952");
        background-size: cover;
        background-position: center;
      }

      .hero-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
      }

      .cta-btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #ff6600;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
      }

      .cta-btn:hover {
        background-color: #cc5200;
      }

      /* Featured Homes Section */
      .featured-homes {
        padding: 40px;
        text-align: center;
      }

      .home-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        margin-top: 40px;
      }

      .home-card {
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .home-card img {
        width: 100%;
        height: auto;
        border-radius: 4px;
      }

      /* Responsive Styles */
      @media (max-width: 768px) {
        .home-cards {
          grid-template-columns: 1fr;
        }
      }
    </style>
  </head>
  <body>
    <!-- Hero Section -->
    <section class="hero">
      <div class="hero-content">
        <h1>Find Your Dream Home</h1>
        <p>
          Explore our exclusive listings and discover your perfect property.
        </p>
        <a href="#" class="cta-btn">Sign Up</a>
      </div>
    </section>

    <!-- Featured Homes Section -->
    <section class="featured-homes">
      <h2>Featured Homes</h2>
      <div class="home-cards">
        <div class="home-card">
          <img src="https://via.placeholder.com/600/92c952" alt="Home 1" />
          <h3>$500,000</h3>
          <p>123 Main St, Cityville</p>
          <p>2,500 sq ft</p>
        </div>
        <div class="home-card">
          <img src="https://via.placeholder.com/600/92c952" alt="Home 2" />
          <h3>$750,000</h3>
          <p>456 Oak Ave, Townsville</p>
          <p>3,200 sq ft</p>
        </div>
        <div class="home-card">
          <img src="https://via.placeholder.com/600/92c952" alt="Home 3" />
          <h3>$1,200,000</h3>
          <p>789 Maple Ln, Villageton</p>
          <p>4,000 sq ft</p>
        </div>
        <div class="home-card">
          <img src="https://via.placeholder.com/600/92c952" alt="Home 4" />
          <h3>$850,000</h3>
          <p>321 Pine St, Suburbia</p>
          <p>3,500 sq ft</p>
        </div>
      </div>
    </section>
  </body>
</html>
