---
// const { path } = Astro.params;
// const pathKeys = path.split("/");

// if (pathKeys[0] == "lnkup") {
//   if (pathKeys[1] == "001") {
//     return Astro.redirect(
//       "https://supremesolutionsusa.com/lnkup/beyoutifulsalon"
//     );
//   }
// }

const { path } = Astro.params;
const hasPath = path != null;

import FourOFour from "./404.astro";

// const pages = import.meta.glob("../apps/com/0624/pages/*");

// let PageElement: any = null;

// for (const path in pages) {
//   const page = pages[path];
//   page()
//     .then((mod: any) => {
//       // console.log(path, mod);

//       const isIt = Astro.url.pathname.startsWith(mod["url"]);

//       console.log(mod.default());

//       if (isIt) {
//         return new Response(mod.default());
//         PageElement = mod.default();
//         // console.log(Astro.url.pathname);
//         // console.log(page.name.split(import.meta.dirname));
//         // console.log(mod["default"]);
//         console.log("isIt ::", PageElement);
//       }
//     })
//     .catch((d) => {});
// }

// const pages = [
//   ...(await Astro.glob("../apps/com/0624/pages/*/*")),
//   ...(await Astro.glob("../apps/com/0624/pages/*")),
// ];
// let PageElement: any = null;

// for (const path of pages) {
//   if (Astro.url.pathname.startsWith(path.url)) {
//     PageElement = path.default;
//     // console.log("url", path);
//     break;
//   }
// }

const PageElement = "div";

// Check for domain routing first

import LayoutSidebar from "../app/LayoutSidebar.astro";
import LayoutStacked from "../app/LayoutStacked.astro";
import LayoutWorkspace from "../app/LayoutWorkspace.astro";
import LandingReadme from "../modules/LandingReadme.astro";

import Pocketbase, { RecordAuthResponse, RecordModel } from "pocketbase";
let message: RecordModel | any;
if (Astro.request.method == "GET") {
  console.log("GETTING");
  const url = Astro.url;
  const host = url.hostname;
  console.log("index_catch_all::url.host::", host);
  // const isSub = host.split(".").length > 1;
  // console.log(`defineMiddleware::isSub:: ${host.split(".").length > 1}`);

  if (
    host !== "dlxstudios" &&
    host !== "localhost" &&
    host !== "dlxstudios-com.vercel.app"
  ) {
    // find domain from pocketbase
    // console.log(host);

    const pb = new Pocketbase("https://api-pocketbase.fly.dev");
    const adminData = await pb.admins.authWithPassword(
      "cloud@dlxstudios.com",
      "dlxCl0ud1030@"
    );
    let domain: RecordModel;
    try {
      domain = await pb
        .collection("studio_app_page_domain")
        .getFirstListItem(`domain_name='${Astro.url.hostname}'`, {
          expand: "site",
        });
      message = domain;
    } catch (error) {
      message = error.toString();
      console.error(error);
    }
  }
}

// const isLoggedIn = false;
const pb = Astro.locals.pocketbaseUserClient as Pocketbase;
const isLoggedIn = pb.authStore.isValid;
---

{
  message &&
    Object.keys(message).map((key) => (
      <h6>
        {key} :: {message[key]}
      </h6>
    ))
}
{PageElement && <PageElement />}
{!PageElement && <FourOFour />}
{!PageElement && " xY 404"}
