---
import LayoutSidebar from "../app/LayoutSidebar.astro";
import LayoutStacked from "../app/LayoutStacked.astro";
import LayoutWorkspace from "../app/LayoutWorkspace.astro";
import DashBoard from "../modules/studio.astro";
import LandingReadme from "../modules/LandingReadme.astro";

import Pocketbase, { RecordAuthResponse } from "pocketbase";

// const isLoggedIn = false;
const pb = Astro.locals.pocketbaseUserClient as Pocketbase;
const isLoggedIn = pb.authStore.isValid;

if (Astro.request.method == "GET") {
  console.log("GETTING");
}
---

<LayoutStacked>
  <LandingReadme />
</LayoutStacked>
