---
import LayoutSidebar from "../app/LayoutSidebar.astro";
import Studio from "../modules/studio.astro";

import { StudioPB, loadFromCookie } from "../modules/studio_service";
interface Props {
  studio?: string;
}

const { studio } = Astro.props;

loadFromCookie(StudioPB, Astro.request.headers.get("cookie") || "");

console.log(StudioPB.authStore.token);
---

<LayoutSidebar>
  <Studio studioId={studio} />
</LayoutSidebar>
