---
import LayoutSidebar from "../app/LayoutSidebar.astro";
import LayoutStacked from "../app/LayoutStacked.astro";
import LandingReadme from "../modules/LandingReadme.astro";
---

<LayoutStacked>
  <LandingReadme />
</LayoutStacked>
