---
export interface Props {
  title: string;
  cover?: string;
}

const { title, cover } = Astro.props;

console.log(cover);
---

<div class="card p-4 space-y-6 rounded-lg shadow-sm">
  <div class="px-4x py-2x text-gray-400XX">
    <h3>{title}</h3>
    {
      cover && (
        <div class="py-1 h-full">
          <img src={cover} class="w-full" />
        </div>
      )
    }
  </div>
  {
    Astro.slots.has("body") && (
      <div class="h-16x px-4x py-2xs text-gray-400">
        <slot name="body" />
      </div>
    )
  }

  {
    Astro.slots.has("footer") && (
      <div class="h-16x px-4x py-2xs text-gray-400">
        <slot name="footer" />
      </div>
    )
  }
</div>
