---
import { AuthModel } from "pocketbase";

interface Props {
  user?: AuthModel;
}

// "id": "RECORD_ID",
//   "collectionId": "_pb_users_auth_",
//   "collectionName": "users",
//   "username": "username123",
//   "verified": false,
//   "emailVisibility": true,
//   "email": "test@example.com",
//   "created": "2022-01-01 01:00:00.123Z",
//   "updated": "2022-01-01 23:59:59.456Z",
//   "name": "test",
//   "avatar": "filename.jpg",
//   "first_name": "test",
//   "last_name": "test"

const { user } = Astro.props;

// console.log(user);

import Pocketbase from "pocketbase";

const pb = Astro.locals.pocketbaseUserClient as Pocketbase;

const avatar = pb.getFileUrl(user, user.avatar);
---

<div class="flex items-center ml-3">
  <div>
    <button
      type="button"
      class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
      id="user-menu-button-2"
      aria-expanded="false"
      data-dropdown-toggle="dropdown-2"
    >
      <span class="sr-only">Open user menu</span>
      <!-- User Image -->
      <!-- <img
        class="w-8 h-8 rounded-full"
        src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
        alt="user photo"
      /> -->
      <img class="w-8 h-8 rounded-full" src={avatar} alt="user photo" />
    </button>
  </div>
  <!-- Dropdown menu -->
  <div
    class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
    id="dropdown-2"
  >
    <div class="px-4 py-3" role="none">
      <p class="text-sm text-gray-900 dark:text-white" role="none">
        {user.name}
      </p>
      <p
        class="text-sm font-medium text-gray-900 truncate dark:text-gray-300"
        role="none"
      >
        {user.email}
      </p>
    </div>
    <ul class="py-1" role="none">
      <!-- <li>
        <a
          href="#"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
          role="menuitem">Dashboard</a
        >
      </li> -->
      <li>
        <a
          href={`${Astro.url.pathname}/settings`}
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
          role="menuitem">Settings</a
        >
      </li>
      <!-- <li>
        <a
          href="#"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
          role="menuitem">Earnings</a
        >
      </li> -->
      <li>
        <a
          href="/auth/sign-out"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
          role="menuitem">Sign out</a
        >
      </li>
    </ul>
  </div>
</div>
