---
import { Render } from "@/components/editor/components/ServerRender";

import conf, { initialData } from "@/apps/page/editor/config";

import Theme from "@/components/theme.astro";
import "../apps/com/theme.scss";
import { Puck } from "@measured/puck";
---

<Theme>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>DLX Studios</title>
    </head>
    <body>
      <Render config={conf} data={initialData["/"]} />
    </body>
  </html>
</Theme>
<!-- <PageEditor client:only="preact" /> -->
