<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sir White | Employee Schedule</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Roboto", sans-serif;
        margin: 0;
        padding: 20px;
        background-color: #f5f5f5;
      }

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
      }

      h1 {
        margin: 0;
      }

      .logo img {
        width: 48px;
        height: 48px;
      }

      .info-section {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        margin-bottom: 20px;
      }

      .card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: calc(50% - 8px);
      }

      .schedule-card {
        display: flex;
        width: 96.5%;
        margin: 0 auto;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      th,
      td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      tr:nth-child(even) {
        background-color: #f5f5f5;
      }

      tr:nth-child(odd) {
        background-color: #e6e6e6;
      }

      @media print {
        header {
          display: none;
        }
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Employee Schedule</h1>
      <div class="logo">
        <img
          src="/public/Logo_2024_light_final_3.0_Dark.png"
          alt="Company Logo"
        />
      </div>
    </header>
    <div class="info-section">
      <div class="card">
        <h2>Employee Details</h2>
        <p>Employee Name: Sir White</p>
        <p>Employee ID: 5678SW</p>
        <p>Position: Customer Relations Manager</p>
        <p>Email: sirw@supremesolutionsusa.com</p>
      </div>
      <div class="card">
        <h2>Employer Details</h2>
        <p>Supreme Solutions USA, LLC</p>
        <p>6050 North Oracle Rd. Suite E, Tucson AZ, 85716</p>
        <p>Website: supremesolutionsusa.com</p>
        <p>Supervisor: Lorenzo Garcia</p>
        <p>Supervisor Email: lorenzog@supremesolutionsusa.com</p>
      </div>
    </div>
    <div class="card schedule-card">
      <table>
        <tr>
          <th>Day</th>
          <th>Schedule</th>
        </tr>
        <tr>
          <td>Sunday</td>
          <td>Off</td>
        </tr>
        <tr>
          <td>Monday</td>
          <td>Off</td>
        </tr>
        <tr>
          <td>Tuesday</td>
          <td>
            <table>
              <tr>
                <th>Time</th>
                <th>Activity</th>
              </tr>
              <tr>
                <td>9:00 AM - 11:20 AM</td>
                <td>Active</td>
              </tr>
              <tr>
                <td>11:20 AM - 11:40 AM</td>
                <td>Break</td>
              </tr>
              <tr>
                <td>11:40 AM - 4:00 PM</td>
                <td>Active</td>
              </tr>
              <tr>
                <td>4:00 PM - 4:40 PM</td>
                <td>Lunch</td>
              </tr>
              <tr>
                <td>4:40 PM - 6:00 PM</td>
                <td>Active</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>Wednesday</td>
          <td>
            <table>
              <tr>
                <th>Time</th>
                <th>Activity</th>
              </tr>
              <tr>
                <td>9:00 AM - 11:20 AM</td>
                <td>Active</td>
              </tr>
              <tr>
                <td>11:20 AM - 11:40 AM</td>
                <td>Break</td>
              </tr>
              <tr>
                <td>11:40 AM - 4:00 PM</td>
                <td>Active</td>
              </tr>
              <tr>
                <td>4:00 PM - 4:40 PM</td>
                <td>Lunch</td>
              </tr>
              <tr>
                <td>4:40 PM - 6:00 PM</td>
                <td>Active</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>Thursday</td>
          <td>
            <table>
              <tr>
                <th>Time</th>
                <th>Activity</th>
              </tr>
              <tr>
                <td>9:00 AM - 11:20 AM</td>
                <td>Active</td>
              </tr>
              <tr>
                <td>11:20 AM - 11:40 AM</td>
                <td>Break</td>
              </tr>
              <tr>
                <td>11:40 AM - 4:00 PM</td>
                <td>Active</td>
              </tr>
              <tr>
                <td>4:00 PM - 4:40 PM</td>
                <td>Lunch</td>
              </tr>
              <tr>
                <td>4:40 PM - 6:00 PM</td>
                <td>Active</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>Friday</td>
          <td>
            <table>
              <tr>
                <th>Time</th>
                <th>Activity</th>
              </tr>
              <tr>
                <td>9:00 AM - 11:20 AM</td>
                <td>Active</td>
              </tr>
              <tr>
                <td>11:20 AM - 11:40 AM</td>
                <td>Break</td>
              </tr>
              <tr>
                <td>11:40 AM - 4:00 PM</td>
                <td>Active</td>
              </tr>
              <tr>
                <td>4:00 PM - 4:40 PM</td>
                <td>Lunch</td>
              </tr>
              <tr>
                <td>4:40 PM - 6:00 PM</td>
                <td>Active</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>Saturday</td>
          <td>
            <table>
              <tr>
                <th>Time</th>
                <th>Activity</th>
              </tr>
              <tr>
                <td>9:00 AM - 11:20 AM</td>
                <td>Active</td>
              </tr>
              <tr>
                <td>11:20 AM - 11:40 AM</td>
                <td>Break</td>
              </tr>
              <tr>
                <td>11:40 AM - 4:00 PM</td>
                <td>Active</td>
              </tr>
              <tr>
                <td>4:00 PM - 4:40 PM</td>
                <td>Lunch</td>
              </tr>
              <tr>
                <td>4:40 PM - 6:00 PM</td>
                <td>Active</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
