---
const surfaceBg = "blue";
const foregroundColor = "rgb(221 243 228)";
const backgroundColor = "rgb(24 121 78)";
---

<style define:vars={{ surfaceBg, foregroundColor, backgroundColor }} is:global>
  :root {
    --surface-bg: var(--primary-300);
    --text-on-surface: var(--text-950);
    --page-bg: var(--background-100);
    --text-on-page: var(--text-900);
  }

  body {
    background-color: var(--page-bg);
    color: var(--text-on-page);
  }

  .surface {
    background-color: var(--surface-bg);
    color: var(--text-on-surface);
  }

  html {
    box-sizing: border-box;
    font-size: 1rem;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  ol,
  ul {
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
</style>
<slot />
