:root {
  // Gold #CBB26A
  --gold: #cbb26a;
  // Orange #F5793B
  --orange: #f5793b;
  // Deep purple #230344
  --deep-purple: #230344;
  // Clay #C99383
  --clay: #c99383;
  // Gray #AAABAB
  --gray: #aaabab;
  // Buttercream #F7E8D3
  --buttercream: #f7e8d3;
  // Galaxy blue #223651
  --galaxy-blue: #223651;
  // Terracotta #B17A50
  --terracotta: #b17a50;
  // Taupe #B9AC9D
  --taupe: #b9ac9d;
  // Tangerine #FB9C2A
  --tangerine: #fb9c2a;
  // Bright blue #137DC5
  --bright-blue: #137dc5;
  // Green #59A52C
  --green: #59a52c;
}
@media (prefers-color-scheme: light) {
  :root {
    --text-50: #f2f2f2;
    --text-100: #e6e6e6;
    --text-200: #cccccc;
    --text-300: #b3b3b3;
    --text-400: #999999;
    --text-500: #808080;
    --text-600: #666666;
    --text-700: #4d4d4d;
    --text-800: #333333;
    --text-900: #1a1a1a;
    --text-950: #0d0d0d;

    --background-50: #f2f2f2;
    --background-100: #e6e6e6;
    --background-200: #cccccc;
    --background-300: #b3b3b3;
    --background-400: #999999;
    --background-500: #808080;
    --background-600: #666666;
    --background-700: #4d4d4d;
    --background-800: #333333;
    --background-900: #1a1a1a;
    --background-950: #0d0d0d;

    --primary-50: #f2f2f2;
    --primary-100: #e6e6e6;
    --primary-200: #cccccc;
    --primary-300: #b3b3b3;
    --primary-400: #999999;
    --primary-500: #808080;
    --primary-600: #666666;
    --primary-700: #4d4d4d;
    --primary-800: #333333;
    --primary-900: #1a1a1a;
    --primary-950: #0d0d0d;

    --secondary-50: #f8f3ed;
    --secondary-100: #f0e8db;
    --secondary-200: #e2d0b6;
    --secondary-300: #d3b992;
    --secondary-400: #c5a26d;
    --secondary-500: #b68a49;
    --secondary-600: #926f3a;
    --secondary-700: #6d532c;
    --secondary-800: #49371d;
    --secondary-900: #241c0f;
    --secondary-950: #120e07;

    --accent-50: #f8f5ed;
    --accent-100: #f0ecdb;
    --accent-200: #e2d8b6;
    --accent-300: #d3c592;
    --accent-400: #c5b26d;
    --accent-500: #b69f49;
    --accent-600: #927f3a;
    --accent-700: #6d5f2c;
    --accent-800: #493f1d;
    --accent-900: #24200f;
    --accent-950: #121007;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: #0d0d0d;
    --text-100: #1a1a1a;
    --text-200: #333333;
    --text-300: #4d4d4d;
    --text-400: #666666;
    --text-500: #808080;
    --text-600: #999999;
    --text-700: #b3b3b3;
    --text-800: #cccccc;
    --text-900: #e6e6e6;
    --text-950: #f2f2f2;

    --background-50: #0d0d0d;
    --background-100: #1a1a1a;
    --background-200: #333333;
    --background-300: #4d4d4d;
    --background-400: #666666;
    --background-500: #808080;
    --background-600: #999999;
    --background-700: #b3b3b3;
    --background-800: #cccccc;
    --background-900: #e6e6e6;
    --background-950: #f2f2f2;

    --primary-50: #0d0d0d;
    --primary-100: #1a1a1a;
    --primary-200: #333333;
    --primary-300: #4d4d4d;
    --primary-400: #666666;
    --primary-500: #808080;
    --primary-600: #999999;
    --primary-700: #b3b3b3;
    --primary-800: #cccccc;
    --primary-900: #e6e6e6;
    --primary-950: #f2f2f2;

    --secondary-50: #120e07;
    --secondary-100: #241c0f;
    --secondary-200: #49371d;
    --secondary-300: #6d532c;
    --secondary-400: #926f3a;
    --secondary-500: #b68a49;
    --secondary-600: #c5a26d;
    --secondary-700: #d3b992;
    --secondary-800: #e2d0b6;
    --secondary-900: #f0e8db;
    --secondary-950: #f8f3ed;

    --accent-50: #121007;
    --accent-100: #24200f;
    --accent-200: #493f1d;
    --accent-300: #6d5f2c;
    --accent-400: #927f3a;
    --accent-500: #b69f49;
    --accent-600: #c5b26d;
    --accent-700: #d3c592;
    --accent-800: #e2d8b6;
    --accent-900: #f0ecdb;
    --accent-950: #f8f5ed;
  }
}

$themes: (
  light: (
    text: rgb(0, 0, 0),
    background: rgb(214, 214, 214),
    primary: rgb(0, 0, 0),
    secondary: rgb(33, 25, 13),
    accent: rgb(164, 143, 65),
  ),
  dark: (
    text: rgb(255, 255, 255),
    background: rgb(41, 41, 41),
    primary: rgb(255, 255, 255),
    secondary: rgb(242, 234, 222),
    accent: rgb(190, 168, 91),
  ),
);

:root {
  --linearPrimarySecondary: linear-gradient(#000000, #21190d);
  --linearPrimaryAccent: linear-gradient(#000000, #a48f41);
  --linearSecondaryAccent: linear-gradient(#21190d, #a48f41);
  --radialPrimarySecondary: radial-gradient(#000000, #21190d);
  --radialPrimaryAccent: radial-gradient(#000000, #a48f41);
  --radialSecondaryAccent: radial-gradient(#21190d, #a48f41);
}

body {
  background-color: var(--secondary-200);
  color: var(--text-900);
}

.card {
  background-color: var(--secondary-200);
  color: var(--text-900);
}
