---
import LayoutCommon from "../../app/LayoutCommon.astro";

import NavBarWorkspace from "../../app/NavBarWorkspace.astro";
import Card from "../../components/Card.astro";

import { studiosByUserId } from "../../services/services";

import Pocketbase from "pocketbase";

const pb = Astro.locals.pocketbaseUserClient as Pocketbase;
const isLoggedIn = pb.authStore.isValid;

// const records = await pb.collection("studio_studio").getFullList({
//   sort: "-created",
// });

const records = await studiosByUserId(pb.authStore.model.id, pb);

// console.log("records::", records);
// console.log(Astro.url.hostname);

if (Astro.url.hostname == "192.168.12.154") {
}
---

{!isLoggedIn && <LayoutCommon />}

{
  isLoggedIn && (
    <LayoutCommon>
      <NavBarWorkspace isLoggedIn={isLoggedIn} user={pb.authStore.model} />
      <div class="flex pt-16 overflow-hidden bg-gray-50X dark:bg-gray-900X">
        <main class="relative w-full h-full overflow-y-auto bg-gray-50X lg:ml-64 dark:bg-gray-900X">
          <div class="grid gap-4 px-4 mb-4 mt-4 md:grid-cols-2 xl:grid-cols-4">
            {records.map((space) => (
              <a href={`/studio/${space.id.toString()}`}>
                <Card
                  title={space.title}
                  cover={pb.files.getUrl(space, space.cover)}
                />
              </a>
            ))}
          </div>
        </main>
      </div>
    </LayoutCommon>
  )
}
